
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">myDailyBalance</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">New Record</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<table class="table table-striped">
    <tr>
        <td><b>Date</b></td>
        <td><b>Title</b></td>
        <td><b>Amount</b></td>
        <td></td>
        <td></td>
    </tr>
    <% @balances.each do |balance| %>
    <tr>
        <td><%= balance.date %></td>
        <td><%= balance.title %></td>
        <td><%= balance.amount %></td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <% end %>
</table>

